server {
  listen 80;
  server_name {{ ansible_eth0.ipv4.address }};

  location = /favicon.ico { access_log off; log_not_found off; }
  location /static/ {
    root /home/app/btre_project;
  }
  
  location /media/ {
    root /home/app/btre_project;    
  }

  location / {
    include proxy_params;
    proxy_pass http://unix:/run/gunicorn.sock;
  }
}